.DS_Store
*VERSION
!lib/**/*VERSION
*.user
*.suo
*resharper.user
_ReSharper.*/
*.sln.cache
obj
bin
!lib/**/bin
temp
archive
symbols
Reports/**
specifications/**
specifications.html
junit.report.xml
nunit.results.xml
VersionOne.Domain/Sql2k/DataSchema.sql
VersionOne.Web/user.config
VersionOne.Web/scripts/_V1.js
VersionOne.Web/scripts/views/**/all.html.tmpl
VersionOne.Web/MetaDomain/UIMeta.Implementation.cs.xml
VersionOne.Web/Areas/Roadmapping
VersionOne.Setup-*.exe
user.config

# jasmine junit output
TEST-*.xml

# ignore LESS-generated CSS files
VersionOne.Web/css/*.css
VersionOne.Web/css/neo-ui/*.css

*.swp
*.eprj
*.orig
*.vs10x
*.vimsession
*.received.txt

/VersionOne.Web/Custom
/VersionOne.Web/Strings/*.Company.txt

V1Enterprise.6.0.ReSharper
arq.CompilerException.txt
setup.cab